Praktikum 01 – Pengenalan Variabel dan Tipe Data

In [ ]:
#integer
umur = 20
print ( "umur:", umur, "=", type(umur))

#float
tinggi = 170.5
print ("tinggi", tinggi, "=", type(tinggi))

#string
nama ='andi'
print ("nama", nama, "=", type(nama))

#boolean
is_mahasiswa = True
print('status mahasiswa:', is_mahasiswa, "=", type(is_mahasiswa))

#list
nilai = [80, 85, 90]
print('nilai:', nilai, "=", type (nilai))

#tuple
koordinat = (10,20)
print ("koordinat:", koordinat, "=", type (koordinat))

#dictionary
mahasiswa = {"nama": "andi", "umur": 20, "prodi": "TRK"}
print('data mahasiswa:', mahasiswa, "=", type(mahasiswa))

#set
hobi = {"membaca", "olahraga", "musik"}
print("hobi:", hobi, "=", type(hobi))

umur: 20 = <class 'int'>
tinggi 170.5 = <class 'float'>
nama andi = <class 'str'>
status mahasiswa: True = <class 'bool'>
nilai: [80, 85, 90] = <class 'list'>
koordinat: (10, 20) = <class 'tuple'>
data mahasiswa: {'nama': 'andi', 'umur': 20, 'prodi': 'TRK'} = <class 'dict'>
hobi: {'membaca', 'olahraga', 'musik'} = <class 'set'>

Praktikum 02 – Input dan Output Dasar

In [ ]:
#input string
nama = input("masukkan nama anda:")

#input integer
umur = int(input("masukkan umur anda: "))

#input float
tinggi = float(input("masukkan tinggi badan (cm): "))

#output standar
print ("halo,", nama, "umur anda:", umur, 'tahun,tinggi:', tinggi,"cm" )

masukkan nama anda:dodo
masukkan umur anda: 32
masukkan tinggi badan (cm): 110
halo, dodo umur anda: 32 tahun,tinggi: 110.0 cm

Praktikum 03 – Operator Aritmatika

In [ ]:
a = 15
b = 4

print ("a + b =", a+b)
print ("a - b =", a-b)
print ("a * b =", a*b)
print ("a / b =", a/b)
print ("a // b =", a//b)
print ("a % b =", a%b)
print ("a ** b =", a**b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

Praktikum 04 – Operator Relasional

In [ ]:
x = 10
y = 20

print("x == y:", x == y)
print("x != y :", x != y)
print ("x < y :", x < y)
print ("x > y :", x > y)
print ('x <= y:', x <= y)
print ('x >= y:', x >= y)

x == y: False
x != y : True
x < y : True
x > y : False
x <= y: True
x >= y: False

Praktikum 05 – Operator Logika dengan Studi Kasus Nyata

In [ ]:
#oprator logika dasar
a = True
b = False

print ("a and b =", a and b)
print ("a or b =", a or b)
print("not a =", not a)

#studi kasus nyata: kelulusan
nilai= int(input("masukkan nilai ujian:"))
hadir=int(input("masukkan jumlah kehadiran:"))

lulus_nilai = nilai >= 60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("status: LULUS")

else:
  print ("status: TIDAK LULUS")

a and b = False
a or b = True
not a = False
masukkan nilai ujian:34
masukkan jumlah kehadiran:16
status: TIDAK LULUS

Praktikum 06 – Program Kasir Sederhana

In [ ]:
barang = input("nama barang")
harga = float (input('harga barang: '))
jumlah = int (input ('jumlah barang: '))

total = harga * jumlah

#aturan diskon
if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total-potongan

print ("\n ===== Struk belanja ======")
print (f'barang : {barang}')
print (f'jumlah : {total}')
print (f'total : Rp {total}')
print (f'diskon : {diskon * 100}%')
print(f'bayar : Rp {bayar}')

nama barangnyam
harga barang: 2500
jumlah barang: 4780

 ===== Struk belanja ======
barang : nyam
jumlah : 11950000.0
total : Rp 11950000.0
diskon : 20.0%
bayar : Rp 9560000.0