1. Struktur if

In [120]:
#algoritma cek lulus if
nilai = int(input('masukkan nilai: '))
if nilai >= 60:
    print('lulus')

masukkan nilai: 70
lulus

2. Struktur If-Else

In [121]:
#algoritma cek lulus else if
nilai = int(input('masukkan nilai: '))
if nilai >= 60:
    print('lulus')
else:
    print('tidak lulus')

masukkan nilai: 50
tidak lulus

3. Struktur If-Elif-Else

In [122]:
78
#algoritma cek grade nilai
nilai = int (input('masukkan nilai: '))
grade = {}

if nilai >= 85:
  grade = 'A'
elif nilai >= 70:
  grade = 'B'
elif nilai >= 55:
  grade ='C'
elif nilai >= 40:
  grade = 'D'
else:
  grade = 'E'

print (f'nilai anda: {nilai} grade: {grade}')

masukkan nilai: 78
nilai anda: 78 grade: B

4. Nested If

In [127]:
#algoritma cek beasiswa
ipk = float(input("masukkan ipk anda: "))
sks = int(input("masukkan sks anda: "))

if ipk >= 3.0:
  if sks >= 18:
    print('layak beasiswa')
  else:
    print('ipk memenuhi, sks kurang')
else:
  print("tidak memenuhi syarat, ipk kurang")

masukkan ipk anda: 2.8
masukkan sks anda: 20
tidak memenuhi syarat, ipk kurang

Praktikum 05 â€“ Match-Case

In [130]:
#algoritma pilh menu

menu = int(input("masukkan kode menu (1-3): "))

match menu:
  case 1:
    print('nasi goreng')

  case 2:
    print('mie ayam')

  case 3:
    print('soto ayam')

  case _:
    print('tidak tersedia')

masukkan kode menu (1-3): 9
tidak tersedia

program kasir

In [ ]:
barang = input("nama barang: ")
harga = float (input('harga barang: '))
jumlah = int (input ('jumlah barang: '))

total = harga * jumlah

#aturan diskon
if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total-potongan

print ("\n ===== Struk belanja ======")
print (f'barang : {barang}')
print (f'jumlah : {total}')
print (f'total : Rp {total}')
print (f'diskon : {diskon * 100}%')
print(f'bayar : Rp {bayar}')

6. If dengan Operator Logika

In [132]:
nilai = float(input('masukkan nilai: '))
hadir = int(input('masukkan jumlah kehadiran:'))

A = (nilai >= 60)
B = (hadir >= 12)

if A and B:
  print('lulus')
else:
  print('tidak lulus')

masukkan nilai: 70
masukkan jumlah kehadiran:67
lulus

In [65]:
#algoritma cek paritas
angka = int(input("masukkkan angka: "))

hasil = "genap" if angka % 2 else "ganjil"

print(hasil)

masukkkan angka: 8
ganjil

3. Cek Bilangan Positif/Negatif/Nol

In [69]:
angka = int(input('masukkan angka: '))

if angka > 0:
  print('bilangan positif')
elif angka < 0:
  print(' bilangan negatif')
else:
  print('nol')

masukkan angka: -8
 bilangan negatif

4. Menentukan Kategori Usia

In [73]:
usia = int(input("masukkan usia: "))

if usia < 5:
  print('balita')
elif usia <= 11:
  print('anak anak')
elif usia <17:
  print('remaja')
elif usia < 59:
  print('dewasa')
else:
  print('lansia')

masukkan usia: 11
anak anak

5. Hitung Tarif Parkir

In [103]:
from datetime import datetime
jam_masuk = (input('jam masuk (HH:MM): '))
jam_keluar = (input('jam keluar (HH:MM): '))

format = "%H:%M"
jam_masuk = datetime.strptime(jam_masuk, format)
jam_keluar = datetime.strptime(jam_keluar, format)

durasi = jam_keluar - jam_masuk

durasi_jam = round(durasi.total_seconds()//3600)

if durasi_jam < 2:
   tarif = 5000

else:
    tarif = (2000*durasi_jam)

tarif = min(tarif, 20000)

print(f'durasi parkir: {durasi}, tarif: Rp {tarif}')

jam masuk (HH:MM): 13:14
jam keluar (HH:MM): 16:56
durasi parkir: 3:42:00, tarif: Rp 6000

6. Cek Login Sederhana

In [109]:
username = 'admin'
password = '1234'

username_input = input('masukkan username: ')
password_input = input('masukkan password: ')

if username_input == username and password_input == password:
  print('login berhasil')
else:
  print('login gagal')

masukkan username: admin
masukkan password: 1234
login berhasil

One-Liner If (Cek Genap/Ganjil)

In [114]:
status = 'genap' if int(input('masukkan angka: '))%2 == 0 else 'ganjil'
print(status)

masukkan angka: 9
ganjil

8. Menu Restoran dengan Match-Case

In [116]:
#algoritma pilh menu

menu = int(input("masukkan kode menu (1-3): "))

match menu:
  case 1:
    print('nasi goreng')

  case 2:
    print('mie ayam')

  case 3:
    print('soto ayam')

  case _:
    print('tidak tersedia')

masukkan kode menu (1-3): 3
soto ayam

9. Studi Kasus Nyata â€“ Program Penentuan Diskon

In [119]:


barang = input("nama barang")
harga = float (input('harga barang: '))
jumlah = int (input ('jumlah barang: '))

total = harga * jumlah

#aturan diskon
if total >= 500000:
    diskon = 0.2
elif total >= 250000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total-potongan

print ("\n ===== Struk belanja ======")
print (f'barang : {barang}')
print (f'jumlah : {total}')
print (f'total : Rp {total}')
print (f'diskon : {diskon * 100}%')
print(f'bayar : Rp {bayar}')

nama barangnyamnyam
harga barang: 2500
jumlah barang: 400

 ===== Struk belanja ======
barang : nyamnyam
jumlah : 1000000.0
total : Rp 1000000.0
diskon : 20.0%
bayar : Rp 800000.0